<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reviewer.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @reviewer.age %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @reviewer.nationality %>
</p>

<%= link_to 'Edit', edit_reviewer_path(@reviewer) %> |
<%= link_to 'Back', reviewers_path %>
