<p id="notice"><%= notice %></p>

<h1>Wines</h1>

<table class="table table-hover table-striped"> 
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Varietal</th>
      <th scope="col">Strains</th>
      <th  scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <th scope="row"><%= wine.id %></th>
        <td><%= wine.name %></td>
        <td><%= wine.varietal %></td>
        <td><ul>
            <% wine.wine_grapes.order_by_grape.each do |strain| %>
              <li><%= strain.grape.name %> (<%= strain.percent %> %)</li>
            <% end %>
          </ul>
         
        </td>
        <td><%= link_to 'Show', wine %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
        <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine', new_wine_path %>
